<mat-dialog-content [formGroup]="form">
  <!-- Book Title -->
  <mat-form-field appearance="fill">
    <mat-label>Book Title</mat-label>
    <input matInput placeholder="Book Title" formControlName="title" />
    <mat-error *ngIf="form.get('BookTitle')?.hasError('required')">
      Book title is required.
    </mat-error>
  </mat-form-field>

  <!-- Book Author -->
  <mat-form-field appearance="fill">
    <mat-label>Book Author</mat-label>
    <input matInput placeholder="Book Author" formControlName="author" />
    <mat-error *ngIf="form.get('BookAuthor')?.hasError('required')">
      Book author is required.
    </mat-error>
  </mat-form-field>

  <!-- Genre -->
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput placeholder="Genre" formControlName="genre" />
  </mat-form-field>

  <!-- Description -->
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="read">Read</mat-option>
      <mat-option value="to-be-read">To Be Read</mat-option>
      <mat-option value="ongoing">Ongoing</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  
  <button class="mat-raised-button mat-primary" [disabled]="form.invalid" (click)="save()">Save</button>
</mat-dialog-actions>
